body{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1596487162379-fbab6c590a42?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
}
.gif img{
    width: 400px;
    border-radius: 25px 25px 0px 0px;
}
audio{
    width: 400px;
}
.main{
    border: 1px solid blue;
    border-radius: 20px;
    transition: 1s;
    margin-top: 150px;
}
.main:hover{
    border: 1px solid red;
    transform: scale(1.2);
    box-shadow: 0 0 20px 20px aqua;
    transition: 1s;

}